body {
  background-color: rgb(248, 249, 255);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

button {
  border-radius: 18px;
  border: none;
  background-color: rgb(235, 243, 242);
  color: rgb(52, 97, 89);
  font-weight: bold;
  font-size: 11.5px;
  padding: 7px 16px;
  margin: 4px;
  transition: all 0.15s ease-in;
}

button:hover {
  cursor: pointer;
  background-color: rgb(214, 231, 230);
}

button:active {
  background-color: rgb(196, 218, 215);
}

.add {
  background-color: rgb(219, 253, 230);
}

.add:hover {
  background-color: rgb(199, 233, 210);
}

.add:active {
  background-color: rgb(190, 223, 201);
}

.newTask {
  background-color: rgba(222, 252, 244, 0.836);
  border: none;
  border-radius: 6px;
  padding: 3px 9px;
  color: rgb(41, 100, 89);
}

.newTask::placeholder {
  color: rgba(41, 100, 89, 0.575);
}

.listcreation {
  margin-bottom: 10px;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container .newTask {
  width: 60%;
}
.todo-container {
  background-color: rgb(159, 205, 197);
  border-radius: 10px;
  padding: 0em;
  margin: 0em;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.11);
}
.list-container {
  background-color: rgb(191, 219, 214);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 240px;
}

.todo-container h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.7em 0;
}

.todo-container ul {
  width: 100%;
  padding: 1.3em 2em;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
}

.todo-container ul li {
  list-style-type: none;
  font-size: 0.9em;
  margin-bottom: 0.6em;
  color: rgb(52, 97, 89);
}

.date {
  color: rgb(129, 180, 171);
  font-size: 0.75em;
}

.remove {
  background-color: rgba(235, 243, 242, 0);
  margin: 0px 0px 0px 3px;
  padding: 5px;
  position: relative;
  bottom: 14px;
}

.remove:hover {
  background-color: rgba(235, 243, 242, 0);
  bottom: 13.4px;
}

.remove:active {
  background-color: rgba(235, 243, 242, 0);
  bottom: 12.4px;
}

.trashicon {
  height: 19px;
  fill: rgb(161, 196, 192);
  position: absolute;
  transition: all 0.2s ease-in;
}

.trashicon:hover {
  fill: rgb(202, 175, 165);
}

.trashicon:active {
  fill: rgb(219, 114, 100);
}
